:root {
    --bodyBackground: no-repeat center/cover url('/public/img/background_1.webp');
    --bodyTextColor: #fff;
    --bodyFontSize: 4.5rem;
}

body {
    margin: 0;
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: sans-serif;

    background: var(--bodyBackground);
    color: var(--bodyTextColor);
    font-size: var(--bodyFontSize);
}

main {
    margin: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}